[Desktop Entry]
Name=Live Captions
Name[zh_CN]=实时字幕
Comment=Real-time speech captions for the desktop
Comment[zh_CN]=桌面实时语音字幕
Exec=live-captions-gtk
Icon=live-captions-gtk
Terminal=false
Type=Application
Categories=AudioVideo;
Keywords=Captions;Subtitles;Speech;Audio;
StartupNotify=true
